body{
    background: linear-gradient(to right, rgba(126, 8, 223, 0.5), rgba(255, 255, 255, 0), rgba(126, 8, 223, 0.5))
}

body h4 {
    text-align: center;
}

#infogeneral {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tarjetainfoger {
    width: fit-content;
    margin: 0 auto;
    box-shadow: 5px 5px 10px;
}

.parrafoinfoge {
    text-align: center;
}

#formacademica {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carouselfa {
    position: relative;
    max-height: 1000px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
}

.carousel-inner img {
    max-height: 450px;
}

.textocarousel {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3) , rgba(255, 255, 255, 0))
}

.botones_fa {
    margin: 0 auto;
    text-align: center;
}

.botones_fa td {
    padding-top: 1%;
    padding-bottom: 1%;
}

.botones_fa img {
    width: 100%;
    margin-bottom: 2%;
}

#exprofesional {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tabla-empleos {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

#datosinteres {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.items_di {
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 10px;
}

.texto_di {
    text-align: justify;
}

#footer {
    background-color: gray;
}

#footer div {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}