.infogeneral {
    margin-left: 10%;
    margin-right: 10%;
}

.tarjetainfoger {
    width: fit-content;
    margin: 0 auto;
}

.parrafoinfoge{
    text-align: center;
}


.carouselfa {
    font-style: black;
}