.infogeneral {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tarjetainfoger {
    width: fit-content;
    margin: 0 auto;
}

.parrafoinfoge{
    text-align: center;
}

.formacademica{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.carouselfa {
    background-color: black;
}

.exprofesional{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.datosinteres{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}